
<div class="col-lg-6 text-lg-start">
  <h1>Galería de Proyectos Recientes</h1>
  <p>Bienvenido a conocer nuestros proyectos con las mejores tecnologías:</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Historia de Rails</h2>
      <p>Rails, también conocido como Ruby on Rails, es un framework de desarrollo web escrito en el lenguaje Ruby. Fue creado por David Heinemeier Hansson y se lanzó por primera vez en el año 2004. Desde entonces, Rails se ha convertido en una de las herramientas más populares y poderosas para desarrollar aplicaciones web.</p>
      <%= image_tag("rails_logo.png", alt: "Rails Logo", class: "img-fluid") %>
    </div>
    <div class="col-md-6">
      <h2>Desarrollo web moderno con Bootstrap</h2>
      <p>Bootstrap es un framework front-end desarrollado por Twitter que facilita la creación de interfaces web modernas y receptivas. Con Bootstrap, los desarrolladores pueden aprovechar una amplia gama de componentes y estilos predefinidos para construir sitios web atractivos y adaptables a diferentes dispositivos.</p>
      <%= image_tag("bootstrap_logo.png", alt: "Bootstrap Logo", class: "img-fluid") %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <h2>Lenguaje Ruby</h2>
      <p>Ruby es un lenguaje de programación dinámico y orientado a objetos que se centra en la simplicidad y la productividad. Fue creado por Yukihiro Matsumoto y se ha ganado una gran popularidad gracias a su elegante sintaxis y su enfoque en la felicidad del programador.</p>
      <%= image_tag("ruby_logo.png", alt: "Ruby Logo", class: "img-fluid") %>
    </div>
    <div class="col-md-6">
      <h2>Sitios web oficiales</h2>
      <ul>
        <li><a href="https://rubyonrails.org" target="_blank">Sitio web de Rails</a></li>
        <li><a href="https://getbootstrap.com" target="_blank">Sitio web de Bootstrap</a></li>
        <li><a href="https://www.ruby-lang.org" target="_blank">Sitio web de Ruby</a></li>
      </ul>
    </div>
    <%= link_to 'Ver más', 'https://github.com/cristianzaninovic', class: 'btn-ver-mas' %>
  </div>
</div>